label[id="lblitemname"]
{
	font-size: 35px;
}

body
{
    background-color: #faebd4;
    font-family:Times New Roman;
    /*margin: 0;*/
    /*padding: 0;*/
}

header
{
    padding: 20px;
    background: #6bb5f1;
}

table
{
    margin: auto;
    border-collapse: collapse;
}

table[id="Item"]
{
	border: 1px solid black;
	border-collapse: collapse;
}

th, td
{
	border-collapse: collapse;
    /*padding: 10px;*/
    text-align: center;
}

th[id="itemname"]
{
	background-color: #f1f8e9;
}

td[id="image"], [id="orderinfo"], td[id="additionalInfo"], td[id="information"]
{
	border: 1px solid black;
    background-color: #e0f7fa;
    /*padding: 20px;*/
}

td[id="RelatedItem"]
{
    background-color: #f1f8e9;
	/*padding: 20px;*/
}

th[id="thhawkzon"]
{
	width:100%;
	text-align:center;
	font-size:50px;
}

label
{
	font-size: 18px;
}

label[id="lblprice"], [id="lblstock"]
{
	font-size: 30px;
	color:green;
}

label,[id="lblnum"], [id="lblcolor"], [id="lbLremarks"], [id="lbliteminfo"], [id="RelatedItem"]
{
	font-size: 23px;
}

button
{
	background-color: #3f51b5;
    font-size: 16px;
    padding: 10px;
    margin: 5px;
    border-radius: 12px;
    background-color: #5c6bc0;
    color: white;
    border: none;
}

/*
button [id="btnred"]
{
	background-color: red;
}

button [id="btnblue"]
{
	background-color: blue;
}

button [id="btnblack"]
{
	background-color: black;
}
*/

input[type="number"], input[type="text"]
{
    width: 80%;
    padding: 8px;
    font-size: 16px;
}

input[type="number"]
{
    width: 60%;
}


ul {
    list-style-type: none;
    padding: 0;
}

ul li
{
    font-size: 16px;
}

/*
nav h2, h3
{
    font-size: 24px;
}
*/

nav ul
{
    padding: 0;
    list-style-type: none;
}


nav ul li
{
	font-size: 18px;
    text-decoration: none;
    color: #3f51b5;
}
